# Ignore plan docs for AI
docs/

# Ignore the cloned MCP server source code directory
whatsapp-mcp/
mcp-gsuite/
github-mcp-server/
web-search/
duckduckgo-mcp-server/
servers/
DesktopCommanderMCP/

# Ignore the cloned source code directory
cline/
Roo-Code/

.DS_Store